/*.root {
    -fx-focus-color:  -fx-text-box-border, -fx-background,
    -fx-control-inner-background,
    linear-gradient(from 0px 0px to 0px 5px, -fx-control-inner-background, -fx-control-inner-background);
}*/
.progress-bar > .bar {
    -fx-background-radius: 0 0 3 3;
    -fx-padding: 0;
    -fx-background-insets: 1 1 2 1;
}
.progress-bar > .track {
    -fx-background-radius: 0 0 3 3; /* 10, 9, 8 */
}
.text-field {
    -fx-background-color: -fx-text-box-border,
    -fx-control-inner-background;
}
.text-field:focused {
    -fx-background-color: -fx-text-box-border,
    -fx-control-inner-background;
}

.pwd_field {
    -fx-background-color: -fx-text-box-border, -fx-background,
    -fx-control-inner-background,
    linear-gradient(from 0px 0px to 0px 5px, -fx-control-inner-background, -fx-control-inner-background);
    -fx-background-insets: 0, 1 1 0 1 ;
}